<section
    id="contact"
    class="section section-alt"
>

    <div class="section-container">

        <div class="section-heading">

            <span>
                06
            </span>

            <h2>
                Let's Connect
            </h2>

        </div>


        <div class="contact-content">

            <p>

                Interested in cloud, DevOps or automation?
                Feel free to reach out.

            </p>


            <div class="contact-links">

                <a href="https://github.com/SoCalledKrish" target="_blank" rel="noopener noreferrer">
                    GitHub
                </a>

                <a href="https://www.linkedin.com/in/abhiramu/" target="_blank" rel="noopener noreferrer">
                    LinkedIn
                </a>

                <a href="mailto:your-email@example.com">
                    Email
                </a>

            </div>

        </div>

    </div>

</section>